/* ----------Common css----------- */

/* ----------Navbar Start----------- */
#NavRow ul li a{
  position: relative;
}
#NavRow ul li a::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: #72BF44;
  width: 0%;
  height: 2px;
  transition: all ease-in-out 300ms;
}
#NavRow li a:hover::after{
  width: 100%;
}

#ResNav li a{
  position: relative;
}
#ResNav li a::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: #72BF44;
  width: 0%;
  height: 2px;
  transition: all ease-in-out 300ms;
}
#ResNav li a:hover::after{
  width: 100%;
}
/* ----------Navbar End----------- */


/* ----------Banner Section Start----------- */
#Banner{
  background: linear-gradient(rgba(0, 0, 0, 0.616), rgba(0, 0, 0, 0.473)), url(./assets/images/BannerBg2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Text-Yup{
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}
/* ----------Banner Section End----------- */
.slick-slide img {
    display: block;
    margin: 0 auto;
}
.slick-prev, .slick-next {
    width: 35px;
    height: 35px;
}

@media (min-width: 320px) and (max-width: 576px) { 

  .slick-next {
	  right: 10px !important;
  }
  .slick-prev {
	  left: 10px !important;
	  z-index: 1;
  }
}
