/* ----------Common css----------- */

/* ----------Navbar Start----------- */
#NavRow ul li a{
  position: relative;
}
#NavRow ul li a::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: #72BF44;
  width: 0%;
  height: 2px;
  transition: all ease-in-out 300ms;
}
#NavRow li a:hover::after{
  width: 100%;
}

#ResNav li a{
  position: relative;
}
#ResNav li a::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: #72BF44;
  width: 0%;
  height: 2px;
  transition: all ease-in-out 300ms;
}
#ResNav li a:hover::after{
  width: 100%;
}

/* ----------Navbar End----------- */
